body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

p {
  font-size: 14px;
}

header {
  font-size: 18px;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

/* Top Page Banner */
.top_banner {
  font-size: 70px;
  font-weight: bold;
}

a {
  font-size: 18px;
}

/* Unvisited Link */
a:link {
  color:white;
}

/* Visited Link */
a:visited {
  color:white;
}

/* Active Link */
a:active {
  color:white;
}

footer {
  text-align: left;
  background-color: dimgrey;
  font-size: 11px;
  color: white;
}

.mid_banner {
  font-size: 23px;
  font-weight: bold;
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 23px;
}
