body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

p {
  font-size: 14px;
}

header {
  font-size: 18px;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

/* Top Page Banner */
.top_banner {
  font-size: 70px;
  font-weight: bold;
}

/* Unvisited Link */
a:link {
  color:white;
}

a:visited {
  color:white;
}

a:active {
  color:white;
}
